apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
        - name: webapp
          image: asia-south1-docker.pkg.dev/cicd-demo-483007/webapp-repo/my-app:latest
          ports:
            - containerPort: 80
