apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: prod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp
        image: asia-south1-docker.pkg.dev/PROJECT_ID/webapp-repo/my-app:IMAGE_TAG
        imagePullPolicy: Always
        ports:
        - containerPort: 80
