apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
spec:
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp
        image: asia-south1-docker.pkg.dev/${_PROJECT_ID}/webapp-repo/my-app
        ports:
        - containerPort: 80

